<%# we can't use frontmatter in dynamic pages afaik %>
<% content_for :page_title, "#{title} add-on | Dradis Framework" %>
<% content_for :page_description, description[0..154] %>

<div class="intro-text">
  <h2><%= title %></h2>
  <h4><%= description %></h4>
</div>

<div class="container">
  <dl>
    <dt>Add-on repo</dt>
    <dd><%= link_to github, github %></dd>
    <dt>Vendor website</dt>
    <dd><%= link_to vendor, vendor %></dd>
  </dl>
</div>