---
title: Rooted Warfare - Dradis Community Edition
description: Dradis Framework will be part of the first edition of the Rooted Warfare event during RootedCON 2014.
---

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="#">Events</a></li>
  <li class="active">Rooted Warfare 2014</li>
</ol>

<div style="width:480px;margin:30px auto;text-align:center">
  <div>
    <%= image_tag 'events/logo_rootedwarfare.png', size: '450x51' %>
  </div>
  <div style="font-size:60px;line-height:100px;">&amp;</div>
  <div>
    <%= image_tag 'logo_small.png', size: '200x200' %>
  </div>
  <div>&nbsp;</div>
</div>

<h1>Dradis selected for Rooted Warefare</h1>
<p class="lead">We will be joining other amazing tools in the first edition of Rooted Warfare during Rooted CON - March 6, 7 and 8 in Madrid, Spain.</p>

<h2>What is Rooted Warfare?</h2>
<p><a href="http://www.rootedwarfare.com/?lang=en">Rooted Warfare</a> is an event that takes place during the <a href="http://rootedcon.com/">Rooted CON</a> conference. It's a forum for the community to share their latest tools, updates and new scripts; and to learn about what others are doing.</p>

<h2>Why are we participating?</h2>
<p>How could we miss it? We want to use this opportunity to present the latest changes that have been undergoing into the framework.</p>

<p>While it is true that it's been some time since we pushed a stable release, we've been working on the background (protip, check the <strong>dradis3.x</strong> branch on the <a href="https://github.com/dradis/dradisframework/commits/dradis3.x">Github repo</a>). We have lots of things we are planning to release throughout the year and Rooted Warfare is going to be a great forum to share some of the new modules that we have been working on.</p>


<h2>How are we participating?</h2>

<p><a href="http://twitter.com/etdsoft">Daniel Martin</a>, creator of Dradis and founder of <a href="http://securityroots.com/">Security Roots</a> will be on site at the conference on the Friday morning session.</p>

<p>We will be running demos of the existing Dradis Framework release, showing how to get up and running with Kali and setting up a Mediawiki repository of issues.</p>

<p>We will show how you can integrate the output from different tools, and how you can export your results in different formats, some you already know like HTML, some you might not like CSV or PDF.</p>

<p>We will be showing what features we have planned for <strong>Dradis 3.0</strong> to ship later this year, including a new interface, REST API, etc.</p>

<p><strong>Bottom line</strong>: you can't miss it!</p>


<h2>What is Dradis Community Edition?</h2>
<p class="lead">Dradis is a collaboration and reporting tool for information security projects.</p>

Dradis is a self-contained web application that provides a centralized repository of information to keep track of what has been done so far, and what is still ahead. [<a href="/screenshots.html">screenshots</a> - <a href="/demo.html">demo</a>]

<div class="featurelist" style="margin:20px auto;margin-bottom: 40px;width:60%">
  Some of the benefits of using <strong>Dradis</strong> to manage your assessments:
  <ul>
    <li>Easy report generation.</li>
    <li>Support for attachments.</li>
    <li>Integration with existing systems and tools through server plugins.</li>
    <li>Platform independent.</li>
  </ul>
</div>



<p class="lead">What you do with the time we save you is up to you: do some research, finish early and go home, or maybe go for a drink...</p>
<div class="center">
  <%= image_tag 'logo_small.png', size: '200x200' %></br>
</div>



<h2>Interested? Lets talk!</h2>

<p>Are you going to be attending Rooted Warfare and have some ideas? Great, lets catch up!</p>

<p class=" lead">Ways to get in touch in advance:</p>
<div class="featurelist">
  <ul style="width: 50%; margin: 0 auto;">
    <li><p class="lead">Mailing list: <a href="http://dradisframework.org/mailing_lists.html">[dradis-devel]</a></p></li>
    <li class="twitter" style="margin-left: -27px"><p class="lead"><a href="http://twitter.com/dradisfw">@dradisfw</a></p></li>
    <li><p class="lead">Drop by <span class="text-info">#dradis</span> on <code class="text-info">irc.freenode.org</code></li>
  </ul>
</div>
