---
title: Video Guides | Dradis Framework
description: Short video clips showing tips and tricks for installing and using Dradis Community Edition. 
---
<div class="intro-text">
  <h2>Video Guides</h2>
  <h4>If your answer is not here the <a href="http://discuss.dradisframework.org">Community Forums</a> are your best bet.</h4>
</div>

<div class="container">
  <p>Use the videos on this page to learn more about the Dradis Framework, how to install Dradis Community Edition on your local system, and tips and tricks to using the platform.</p>
  <p>Please be patient as we're currently rebuilding our documents and creating new videos for the 3.0 release.</p>
  <br/>
  <section>
    <h1>Installation</h1>
    <br/>
    <div class="cards">
      <div class="card">
        <div class="card-image">
          <%= link_to image_tag('documentation/videos/install_git.png'), 'install_git.html' %>
        </div>
        <div class="card-header">
          <a href="install_git.html">Installing Dradis from Git</a><small> (3:09)</small>
        </div>
        <div class="card-copy">
          <p>This video outlines the steps to install Dradis Community Edition on your local system from GitHub.</p>
        </div>
      </div>

      <div class="card">
        <!-- <div class="card-image">

        </div>
        <div class="card-header">

        </div>
        <div class="card-copy">

        </div> -->
      </div>

      <div class="card">
        <!-- <div class="card-image">

        </div>
        <div class="card-header">

        </div>
        <div class="card-copy">

        </div> -->
      </div>
    </div>
  </section>

</div>
