---
title: Create a Custom Export Add-on | Dradis Framework
description: How to create a custom add-on to export your Dradis projects into the format that you need.
---

<div class="intro-text">
  <h2>Create a Custom Export Add-on</h2>
  <h4>If your answer is not here the <a href="http://discuss.dradisframework.org">Community Forums</a> are your best bet.</h4>
</div>

<div class="container">
	<p><strong>Before you get started with this guide, make sure you are running Dradis v3.0 or later (check the footer to confirm your version). If needed, install the latest version of Dradis from Git with <a href="install_git.html">these instructions</a>.</strong></p>
  <h2>Clone your Add-on</h2>

</div>

<div class="container">
	<h2>Load the Add-on to Dradis</h2>
</div>

<div class="container">
	<h2>Edit, Test, Repeat</h2>
</div>
