---
title: Documentation | Dradis Framework
description: Dradis Framework documentation.
---

<div class="intro-text">
  <h2>Documentation</h2>
  <h4>If your answer is not here the <a href="http://discuss.dradisframework.org">Community Forums</a> are your best bet.</h4>
</div>


<div class="container" id="guides">
  <h2>Guides</h2>
  <p>Please be patient as we're rebuilding the docs for the 3.0 release:</p>
  <div class="cards">
    <div class="card">
      <div class="card-header">
        <h4>Install Dradis:</h4>
      </div>
      <div class="card-copy">
        <p><a href="install_git.html">Installing Dradis from Git</a></p>
        <p><a href="install_cloud9.html">Installing Dradis on Cloud9</a></p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4>Add-ons:</h4>
      </div>
      <div class="card-copy">
        <p><a href="add-ons.html">Enabling/Disabling Add-ons</a></p>
        <p><a href="export_add-on.html">Create a Custom Export Add-on</a></p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4>Miscellaneous:</h4>
      </div>
      <div class="card-copy">
        <p><a href="../FAQ.html">Frequently Asked Questions (FAQs)</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container" id="videos">
  <h2>Videos</h2>
  <br/>

  <div class="cards">
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag('documentation/videos/install_git.png'), 'videos/install_git.html' %>
      </div>
      <div class="card-header">
        <a href="install_git.html">Installing Dradis from Git</a><small> (3:09)</small>
      </div>
      <div class="card-copy">
        <p>This video outlines the steps to install Dradis Community Edition on your local system from GitHub.</p>
      </div>
    </div>

    <div class="card">
      <!-- <div class="card-image">

      </div>
      <div class="card-header">

      </div>
      <div class="card-copy">

      </div> -->
    </div>

    <div class="card">
      <!-- <div class="card-image">

      </div>
      <div class="card-header">

      </div>
      <div class="card-copy">

      </div> -->
    </div>
  </div>
  <br/><br/>
</div>
<div class="container" id="presentations">
  <h2>Presentations</h2>
  <div class="cards">
    <div class="card">
      <div class="card-copy">
        <p><a href="/slides/bsides2015/"><strong>Dradis 3.0: About time.</strong></a> Security BSides London 2015</p>
        <p><a href="/slides/bsides2014/"><strong>Dradis Framework: API, Excel, and more.</strong></a> Security BSides London 2014</p>
        <p><a href="/slides/bsides2013/"><strong>Dradis Framework: Creating custom plugins.</strong></a> Security BSides London 2013</p>
        <p><a href=" /slides/defcon-17-daniel_gomez-etd-dradis.pdf"><strong>Dradis Framework: Sharing information will get you root.</strong></a> DEFCON 17, 2009</p>
        <p><a href="/slides/dc4420_2009-03.pdf"><strong>Dradis: Effective information sharing.</strong></a> 2009</p>
        <p><a href="/slides/dradis_plugin_programming_2008-02-22.pdf"><strong>Introduction to Dradis plugin programming.</strong></a> 2008</p>
        <p><a href="/slides/overview.pdf"><strong>Dradis overview.</strong></a> 2007</p>
      </div>
    </div>
  </div>
</div>
