---
title: Documentation | Dradis Framework
description: Dradis Framework documentation.
---

<div class="intro-text">
  <h2>Documentation</h2>
  <h4>If your answer is not here the <a href="http://discuss.dradisframework.org">Community Forums</a> are your best bet.</h4>
</div>


<div class="container">
  <h2>Guides</h2>
  <p>Please be patient as we're rebuilding the docs for the 3.0 release:</p>
  <div class="container">
    <ul class="bullets">
      <li class="bullet three-col-bullet">
        <div class="bullet-content">
          <h4>Install Dradis:</h4>
          <ul>
            <li><a href="install_git.html">Installing Dradis from Git</a></li>
            <li><a href="install_cloud9.html">Installing Dradis on Cloud9</a></li>
          </ul>
        </div>
      </li>
      <li class="bullet three-col-bullet">
        <div class="bullet-content">
          <h4>Add-ons:</h4>
          <ul>
            <li><a href="add-ons.html">Enabling/Disabling Add-ons</a></li>
            <li><a href="export_add-on.html">Create a Custom Export Add-on</a></li>
          </ul>
        </div>
      </li>
      <li class="bullet three-col-bullet">
        <div class="bullet-content">
          <h4>Miscellaneous:</h4>
          <ul>
            <li><a href="../FAQ.html">Dradis Framework Frequently Asked Questions (FAQs)</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div> 
</div>

<div class="container">
  <h2>Videos</h2>
  <br/>

  <div class="cards">
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag('documentation/videos/install_git.png'), 'videos/install_git.html' %>
      </div>
      <div class="card-header">
        <a href="install_git.html">Installing Dradis from Git</a><small> (3:09)</small>
      </div>
      <div class="card-copy">
        <p>This video outlines the steps to install Dradis Community Edition on your local system from GitHub.</p>
      </div>
    </div>

    <div class="card">
      <!-- <div class="card-image">

      </div>
      <div class="card-header">

      </div>
      <div class="card-copy">

      </div> -->
    </div>

    <div class="card">
      <!-- <div class="card-image">

      </div>
      <div class="card-header">

      </div>
      <div class="card-copy">

      </div> -->
    </div>
  </div>
</div>
