---
title: Documentation | Dradis Framework
description: Dradis Framework documentation.
---

<div class="intro-text">
  <h2>Documentation</h2>
  <h4>If your answer is not here the <a href="http://discuss.dradisframework.org">Community Forums</a> are your best bet.</h4>
</div>


<div class="container">
  <p>Please be patient as we're rebuilding the docs for the 3.0 release:</p>

  <ul>
    <li><a href="../FAQ.html">Dradis Framework Frequently Asked Questions (FAQs)</a></li>
    <li><a href="add-ons.html">Enabling/Disabling Add-ons</a></li>
    <li><a href="install_git.html">Installing Dradis from Git</a></li>
  </ul>
</div>