h1 {
  font-weight: 400;
}

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 200;
}

pre.code {
  background: #F7F7F7;
  border-radius: $base-border-radius * 1.5;
  border: 1px solid #E0E0E0;
  font-family: monaco;
//  font-size: 0.65em;
  font-style: normal;
  padding: 0.1em 0.4em;
//  white-space: nowrap;
}


.container {
  @include outer-container;
  min-height: 300px;
}

.intro-text h2 {
  font-family: $sans-serif;
  font-weight: 300;
}

.col {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
