body.CHANGELOG {
  h3 {
    border-bottom: 1px solid transparentize($base-font-color, .8);
  }

  ul {
    @extend %default-ul;

    margin-top: $base-spacing/2;
    margin-bottom: $base-spacing;
  }
}