body.index {
  section {
    @include outer-container;
    margin-bottom: 100px;
    margin-top: 50px;
  }

  .bullets {
    @include outer-container;
  }

  .light-gray-wrapper {
    background: #f4f4f4;
    padding: 5em 0 3em;

    section {
      margin: 0 auto;
    }
  }
}
