body.index {
  section {
    @include outer-container;
    margin-bottom: 100px;
    margin-top: 50px;

    &.header {
      margin-bottom: 20px;

      .buttons {
        margin: 2em 0;
      }
    }

    &.integrations {
      h3 {
        margin-bottom: 1em;
      }
    }

    &.press .logo2 {
      filter: grayscale(100%);
      margin-left: 40px;
    }
  }

  .bullets {
    @include outer-container;
  }

  .flash-notice {
    @extend %flash-base;
    @include flash(#e5edf8);

    text-align: center;
  }

  .light-gray-wrapper {
    background: #f4f4f4;
    padding: 5em 0 3em;

    section {
      margin: 0 auto;

    }
  }
}
