body.screenshots {
  div.container {
    margin-bottom: 100px;

    h3 {
      border-bottom: 1px solid transparentize($base-font-color, .8);
      margin-top: $base-spacing/2;
      margin-bottom: $base-spacing;
    }
  }
}