<div class="dradispro">
<a href="http://securityroots.com/dradispro/">
  <%= image_tag 'dradispro_banner.png', size: '200x83', alt: 'Dradis Professional Edition logo' %>
</a>
</div>

<ul class="nav">
  <h3>use dradis</h3>
  <li><a href="download.html">download</a></li>
  <li><a href="demo.html">demo</a></li>
  <li><a href="screenshots.html">screenshots</a></li>
  <li><a href="http://blog.dradisframework.org/">blog</a></li>
  <li>
    <a href="#">documentation</a>
    <ul class="nav">
      <li><a href="overview.html">overview</a></li>
      <li><a href="install.html">install and setup</a></li>
      <li><a href="FAQ.html">FAQ</a></li>
    </ul>
  </li>
  <li><a href="http://guides.dradisframework.org">dradis guides</a></li>
  <li><a href="license.html">license</a></li>
  <li><a href="security_reports.html">security reports</a></li>

  <h3>develop dradis</h3>
  <li><a href="hacking.html">Hacker's guide to dradis</a></li>
  <li><a href="http://rubydoc.info/github/dradis/dradisframework/frames">API documentation</a></li>
  <li><a href="roadmap.html">roadmap</a></li>
  <li><a href="CHANGELOG.html">CHANGELOG</a></li>
  <li><a href="release_timeline.html">release timeline</a></li>
  <li><a href="https://github.com/dradis/dradisframework/">git repo</a></li>

  <h3>get help</h3>
  <li><a href="https://github.com/dradis/dradisframework/issues">bug tracker</a></li>
  <li><a href="http://dradisframework.uservoice.com/">feature requests</a></li>
  <li><a href="http://discuss.dradisframework.org">forums</a></li>
  <li><a href="mailing_lists.html">mailing lists</a></li>
  <li><strong>IRC</strong>: <span class="text-info">#dradis</span> at <code class="text-info">irc.freenode.org</code></li>
</ul>