---
title: CHANGELOG for each release | Dradis Framework
description: These are the most significant changes in every Dradis release.
---

<div class="intro-text">
  <h2>CHANGELOG</h2>
  <h4>These are the most significant changes in every Dradis release.</h4>
</div>


<div class="container">
  <h3>v3.0.0 (Feb 2015)</h3>
  <p>Coming soon...</p>

  <h3>v2.9.0 (1st of Feb 2012)</h3>
  <strong>New plugins</strong>
  <ul>
    <li><a href="http://www.eeye.com/products/retina/retina-network-scanner">Retina Network Security Scanner</a> upload plugin</li>
    <li><a href="https://www.owasp.org/index.php/OWASP_Zed_Attack_Proxy_Project">Zed Attack Proxy</a> upload plugin</li>
  </ul>
  <strong>Updated plugins</strong>
  <ul>
    <li><a href="http://www.nessus.org/products/nessus">Nessus</a> upload plugin is orders of magnitude faster</li>
    <li><a href="http://cirt.net/nikto2">Nikto</a> upload plugin is orders of magnitude faster</li>
    <li><a href="http://nmap.org">Nmap</a> upload plugin is orders of magnitude faster</li>
    <li><strong>VulnDB</strong> import plugin (to support <a href="http://vulndbhq.com">VulnDB HQ</a> integration)</li>
  </ul>
  <strong>Internals</strong>
  <ul>
    <li>Updated First Time User's Wizard</li>
    <li>Updated to Rails 3.2</li>
  </ul>

  <h3>v2.8.0 (10th of Oct 2011)</h3>
  <ul>
    <li>Cleaner <a href="http://blog.dradisframework.org/2011/09/new-in-dradis-28-three-column-layout.html">three-column layout</a></li>
    <li>Smarter Ajax polling and <a href="http://blog.dradisframework.org/2011/09/new-in-dradis-28-smart-refresh.html">auto-updating</a></li>
    <li>New version of the Nmap upload plugin</li>
    <li>New version of the Nessus upload plugin</li>
    <li>./verify.sh now checks that libxml2 is installed</li>
    <li>Bugs fixed: #17, #31, #37, #43, #48</li>
  </ul>

  <h3>v2.7.2 (1st of Aug 2011)</h3>
  <ul>
    <li>Improved startup scripts</li>
    <li>Bugs fixed: #5, #9, #13, #14, #15, #16, #19, #20</li>
    <li>Update Rails to 3.0.9</li>
  </ul>

  <h3>v2.7.1 (24th of May 2011)</h3>
  <p>server component:</p>
  <ul>
    <li>Improved note editor: more space, less Ajax</li>
    <li>Bugs fixed: #3, #4, #6, #7, #8, #10</li>
  </ul>

  <h3>v2.7 (19th of April 2011)</h3>
  <p>server component:</p>
  <ul>
    <li>Improved command line API with Thor (<code>thor -T</code> to view all commands)</li>
    <li>New <strong>Configuration Manager</strong></li>
    <li>New <strong>Upload Manager</strong></li>
    <li>New plugins:
      <ul>
        <li><a href="http://www.metasploit.com">Metasploit</a> import</li>
        <li><a href="http://www.rapid7.com/products/nexpose-community-edition.jsp">NeXpose</a> (.xml) upload</li>
        <li><a href="http://www.openvas.org/">OpenVAS</a> (.xml) upload</li>
        <li><a href="http://www.wildcroftsecurity.com/">SureCheck</a> (.sc) upload</li>
        <li><a href="http://w3af.sourceforge.net/">w3af</a> (.xml) upload</li>
        <li><a href="https://github.com/WebExploitationFramework/wXf">Web Exploitation Framework (wXf)</a> upload</li>
      </ul>
    </li>
    <li>Updated plugins:
      <ul>
        <li><a href="http://www.nessus.org/products/nessus">Nessus</a> plugin supports .nessus v2</li>
        <li><a href="http://securityroots.com/vulndb/">Vuln::DB</a> import updated to support the latest release</li>
      </ul>
    </li>
    <li>Bugs fixed: #2888332, #2973256</li>
    <li>Update Rails to 3.0.6</li>
  </ul>

  <h3>v2.6.1 (11th of February 2011)</h3>
  <p>server component:</p>
  <ul>
    <li>Fixed a 'back slash' vs 'forward slash' issue in start.sh</li>
    <li>Smarten up verify.sh to find the Bundler binary</li>
    <li>Deal with Burp Scanner's opinionated handling of null bytes</li>
    <li>SSL certificate updated for 2011 / 2012</li>
    <li>Updated libraries RedCloth 4.2.6 and Rails 3.0.4</li>
 </ul>

  <h3>v2.6 (2nd of December 2010)</h3>
  <p>server component:</p>
  <ul>
    <li>New first-time repository content</li>
    <li>Upgraded libraries: ExtJS 3.3, Rails 3.0.3</li>
    <li>Improved performance through asset caching</li>
    <li>Bugs fixed: #3021312, #3030629, #3076709</li>
 </ul>

  <h3>v2.5.2 (18th of May 2010)</h3>
  <p>server component:</p>
  <ul>
    <li>Bugs fixed: #2974460</li>
    <li><a href="security_reports.html">Security fixes</a></li>
  </ul>

  <h3>v2.5.1 (7th of March 2010)</h3>
  <p>server component:</p>
  <ul>
    <li>Various improvements in the NotesBrowser</li>
    <li>Upgraded library: ExtJS 3.1.1</li>
    <li>Bugs fixed: #2964273, #2932569, #2963253</li>
  </ul>

  <h3>v2.5.0 (5th of February 2010)</h3>
  <ul>
    <li>Improved Note editor: bigger, easier to use and supports formatting!</li>
    <li>New <strong>First Time User Wizard</strong></li>
    <li>Keep track of all the activity with the built-in RSS feed</li>
    <li><strong>Plugin improvements</strong>
      <ul>
        <li>New <strong>HTML Export</strong> reporting plugin.</li>
        <li>New <strong>Burp Upload</strong> plugin so you can use <a href="https://portswigger.net/burp/">Burp Scanner</a> output.</li>
        <li>New <strong>Nikto Upload</strong> plugin to use your <a href="http://cirt.net/nikto2">Nikto</a> scan results.</li>
      </ul>
    </li>
    <li>Upgraded libraries: ExtJS 3.0, Rails 2.3.5</li>
    <li>Bugs fixed: #2936554, #2938593.</li>
  </ul>


  <h3>v2.4.1 (31st of October 2009)</h3>
  <p>server component:</p>
  <ul>
    <li>Bugs fixed: #2881746, #2888245, #2889402.</li>
  </ul>
  <p>client component:</p>
  <ul>
    <li>Bugs fixed: #2888411.</li>
  </ul>



  <h3>v2.4 (10th of September 2009)</h3>
  <p>server component:</p>
  <ul>
    <li>Plugin improvements
      <ul>
        <li>Nmap Upload is now using the <a href="http://rubynmap.sourceforge.net/">Nmap::Parser</a> library.</li>
        <li>Featuring the new <acronym title="Open Source Vulnerability Database">OSVDB</acronym> Import plugin to query the largest independent and <a href="http://osvdb.org/">open source vulnerability database</a>.</li>
      </ul>
    </li>
    <li>Upload plugins. Better progress feedback. Improved error condition checking.</li>
    <li>Note drag'n'drop.</li>
    <li>New handy Rake tasks:
      <ul>
        <li><strong>dradis:reset</strong>: When you are done with your project,
        use this task to start over. It clears the database and removes the
        uploaded files.</li>
        <li><strong>dradis:backup</strong>: If you want to create a backup of
        your current project, this is the right task for it.</li>
      </ul>
    </li>
  </ul>

  <p>client component:</p>
  <ul>
    <li>Bugs fixed: #2848909.</li>
  </ul>

  <h3>v2.3 (5th of August 2009)</h3>
  <p>server component:</p>
  <ul>
    <li>upload plugins. A new server plugin category: import into Dradis the contents of any file (nmap, nessus, etc.).</li>
    <li>refactor the WordExport plugin:
      <ul>
        <li>create templates using Word only</li>
        <li>convert any document into a Dradis template in &lt; 10 minutes</li>
      </ul>
    </li>
    <li>project management plugin update:
      <ul>
        <li>create project templates for future re-use (read methodologies)</li>
        <li>export project in .zip format (DB + attachments)</li>
        <li>import projects/templates</li>
        <li>checkout / commit project revisions from and to the meta-server</li>
      </ul>
    </li>
    <li>enhanced nodes tree: filtering and quick actions buttons</li>
  </ul>

  <p>client component:</p>
  <ul>
    <li>new import extensions: Nessus and Qualys</li>
  </ul>

  <p>Introducing the Meta-Server (beta) component:</p>
  <ul>
    <li>for multi-project management</li>
    <li>download the Meta-Server as a separate package from: http://dradisframework.org/</li>
  </ul>

  <h3>v2.2 (11th of June 2009)</h3>
  <p>server component:</p>
  <ul>
    <li>add attachments to nodes</li>
    <li>add 'refresh' buttons to the tree and the notes list</li>
    <li>force 'webrick' even if mongrel is installed (no SSL support in mongrel)</li>
    <li>centralise the framework version information.</li>
    <li>autoExpandColumn now works on IE</li>
    <li>Rails runs in "production" mode</li>
  </ul>
  <p>client component:</p>
  <ul>
    <li>Dradis can be used with wxRuby 2.0.0</li>
    <li>better error handling for REST web service communication errors</li>
    <li>easier REST credentials configuration in ./conf/dradis.xml</li>
  </ul>
  <h3>v2.1.1 (17th of April 2009)</h3>
  <ul>
    <li>the version string was not properly updated across the different modules.</li>
  </ul>
  <h3>v2.1 (16th of April 2009)</h3>
  <p>server component:</p>
  <ul>
    <li>import/export plugin architecture</li>
    <li>import/export plugin generators</li>
    <li>sample WordXML export plugin</li>
    <li>sample WikiMedia import plugin</li>
  </ul>
  <p>client component:</p>
  <ul>
    <li>import extention allows nmap output imports</li>
    <li>import note from plain text file</li>
    <li>more powerful add extension: add a note from the console</li>
  </ul>

  <h3>Dradis v2.0.1 (23rd of February 2009)</h3>
  <ul>
    <li>smart command line parsing. The console client accepts multi-word parameters using quotes</li>
    <li>*add* extension allows adding nodes and categories</li>
    <li>add parameter description support to the extensions</li>
    <li>close bug 2572271: ruby 1.8.7 compatibility fix for wxWidgets interface</li>
    <li>first security patch</li>
    <li>minor bug fixes</li>
  </ul>

  <h3>Dradis v2.0 (29th of January 2009)</h3>
  <p>server component:</p>
  <ul>
    <li>Forget Hosts, Services and Protocols. Embrace the freedom of Nodes.</li>
    <li>Forget SOAP, embrace REST</li>
    <li>Powered by Rails 2.0 and ExtJS 2.2 (http://www.extjs.com/)</li>
    <li>Now with security! (SSL transport and user authentication)</li>
  </ul>
  <p>client component:</p>
  <ul>
    <li>adapt the wxWidgets client to the new node-note structure of the server.</li>
    <li>forget SOAP, embrace REST web services to talk to the server.</li>
    <li>refactor of the *modules* component, now *extensions*.</li>
    <li>john's string encoding extension is built-in the Dradis client.</li>
    <li>the first building blocks of the service-oriented multiverse architecture
       have been laid out.</li>
  </ul>

</div>