---
title: Download | Dradis Framework
description: Download the latest release of the Dradis Framework.
---

<section>
  <h1>Download Dradis</h1>

  <p>The latest version of the Dradis package is <strong>3.0.0.rc1</strong>:</p>

  <ul class="bullets">
    <li class="bullet three-col-bullet">
      <div class="bullet-content">
        <h2>Download for Linux</h2>
        <ul>
          <li><a href="javascript:void(0)">dradis-3.0.0.rc0-linux-x86.tar.gz</a></li>
          <li><a href="javascript:void(0)">dradis-3.0.0.rc0-linux-x86_64.tar.gz</a></li>
        </ul>
        </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-content">
        <h2>Download for Mac</h2>
        <ul>
          <li><a href="javascript:void(0)">dradis-3.0.0.rc0-osx.tar.gz</a></li>
        </ul>
      </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-content">
        <h2>Git download</h2>
        <p>For the adventurous, follow the <a href="http://git.io/dradis#welcome-to-dradis">README</a>.</p>
      </div>
    </li>
  </ul>

  <h2>FAQ</h2>

  <h3>Package or Git?</h3>
  <p>If you are giving Dradis a try and want to see what it is about: <strong>package</strong>.</p>
  <p>If you are planning to run Dradis in the long run and are comfortable with ruby and ruby gems: <strong>git</strong>.</p>

  <h3>How do I run it?</h3>

  <pre class="code">
$ tar -xzf dradis-3.0.0.rc0-linux-x86.tar.gz
$ cd dradis-3.0.0.rc0-linux-x86/
$ ./dradis-webapp  &amp;&amp; ./dradis-worker
</pre>
  <p>Then point your browser to <a href="http://127.0.0.1:3000">http://127.0.0.1:3000</a>.</p>

  <h3>This isn't working, help!</h3>
  Calm down, it will all be fine (eventually), please head to the <a href="http://discuss.dradisframework.org">Community Forums</a> and tell us what went wrong.</p>
</section>
