---
title: Download | Dradis Framework
description: Download the latest release of the Dradis Framework.
---

<div class="intro-text">
  <h2>Download Dradis</h2>
  <h4>The latest version of the Dradis Framework is <strong>3.0.0.rc3</strong></h4>
</div>


<div class="container">
  <ul class="bullets">
    <li class="bullet three-col-bullet">
      <div class="bullet-content">
        <h2>Download for Linux</h2>
        <ul>
          <li><a href="http://sourceforge.net/projects/dradis/files/dradis/v3.0/dradis-3.0.0.rc3-linux-x86.tar.gz/download">dradis-3.0.0.rc3-linux-x86.tar.gz</a></li>
          <li><a href="http://sourceforge.net/projects/dradis/files/dradis/v3.0/dradis-3.0.0.rc3-linux-x86_64.tar.gz/download">dradis-3.0.0.rc3-linux-x86_64.tar.gz</a></li>
        </ul>
        </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-content">
        <h2>Download for Mac</h2>
        <ul>
          <li><a href="http://sourceforge.net/projects/dradis/files/dradis/v3.0/dradis-3.0.0.rc3-osx.tar.gz/download">dradis-3.0.0.rc3-osx.tar.gz</a></li>
        </ul>
      </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-content">
        <h2>Git download</h2>
        <p>For the adventurous, follow the <a href="http://git.io/dradis#welcome-to-dradis">README</a>.</p>
      </div>
    </li>
  </ul>

  <p>It is advised to check the <a href="/sha256.txt">sha256 checksum</a> of the downloaded files.</p>

  <h2 class="faq">FAQ</h2>

  <h3>Package or Git?</h3>
  <p>If you are giving Dradis a try and want to see what it is about: <strong>package</strong>.</p>
  <p>If you are planning to run Dradis in the long run and are comfortable with ruby and ruby gems: <strong>git</strong>.</p>

  <h3>How do I run it?</h3>

  <pre class="code">
$ tar -xzf dradis-3.0.0.rc3-linux-x86.tar.gz
$ cd dradis-3.0.0.rc0-linux-x86/
$ ./dradis-webapp  &amp;&amp; ./dradis-worker
</pre>
  <p>Then point your browser to <a href="http://127.0.0.1:3000">http://127.0.0.1:3000</a>.</p>

  <p><strong>Remember</strong>: you'll need to have Redis up and running:</p>

  In Linux:
  <pre class="code">
  $ apt-get install redis-server
</pre>

  In MacOS:
  <pre class="code">
  $ brew install redis
  $ redis-server /usr/local/etc/redis.conf  
</pre>

  <h3>This isn't working, help!</h3>
  Calm down, it will all be fine (eventually), please head to the <a href="http://discuss.dradisframework.org">Community Forums</a> and tell us what went wrong.</p>
</div>
