---
title: FAQs | Dradis Framework
description: Dradis Framework Frequently Asked Questions (FAQs).
---

<div class="intro-text">
  <h2>FAQ: Frequently Asked Questions</h2>
  <h4>If your answer is not here the <a href="http://discuss.dradisframework.org">Community Forums</a> are your best bet.</h4>
</div>


<div class="container">

  <h3 id="q4">By default the server starts in 0.0.0.0:3000 How can I make it listen on a different interface/port number?</h3>

  <p><strong>Port</strong> number can be changed using the <strong>-p</strong> parameter. For instance to listen on port 80:</p>
  <pre><code>./dradis-webapp -p 80</code></pre>

  <p>The <strong>interface</strong> can be changed using the <strong>-b</strong> parameter. To listen on ALL (dangerous!) interfaces do:</p>
  <pre><code>./dradis-webapp -b 0.0.0.0</code></pre>

  <!-- <p>
    <a href="#top">back to top</a>
  </p> -->

  <!--
  <a name="q#"></a>
  <h3></h3>
  <p></p>
  <p>
    <a href="#top">back to top</a>
  </p>
  -->
</div>