---
title: Dradis - Effective Information Sharing
description: 
---
<section>
  <div class="page-header">
    <h2>What is Dradis?</h2>
  </div>
  <%= image_tag 'logo_small.png', class: 'pull-left', alt: 'Dradis Framework logo' %>

  <p><strong>Dradis</strong> is an open source framework to enable effective
  information sharing, specially during security assessments.</p>
  <p><strong>Dradis</strong> is a self-contained web application that 
  provides a centralised repository of information to keep track of what has 
  been done so far, and what is still ahead. [<a href="screenshots.html">screenshots</a> - 
  <a href="demo.html">demo</a>]</p>

  <strong>Features</strong> include:
  <ul style="margin-left: 200px;">
    <li>Easy report generation.</li>
    <li>Support for attachments.</li>
    <li>Integration with existing systems and tools through <a href="server_plugins.html">server plugins</a>.</li>
    <li>Platform independent.</li>
  </ul>
</section>