---
title: Dradis - Effective Information Sharing
description: The Dradis Framework is an open-source collaboration and reporting platform for IT security experts.
---
<section>
  <div class="center-image">
    <img src="images/logo_small.png" alt="">
      <div class="content">
      <!-- <h4>Topic Name</h4> -->
      <h1>Collaboration and reporting framework for InfoSec teams</h1>

      <p>The <strong>Dradis Framework</strong> is an open-source collaboration and reporting platform for IT security experts.</p>
      <p><strong>Dradis</strong> is a self-contained web application that provides a centralized repository of information to keep track of everything that has been done so far, and what is still ahead.</p>

      <hr>

      <a href="/downloads.html"><button class="primary">Download</button></a>
      <button>Documentation</button>
      <button>Screenshots</button>
      <a href="/addons/"><button>Add-ons</button></a>
    </div>
  </div>
</section>

<div class="light-gray-wrapper">
  <section>
    <ul class="bullets">
      <li class="bullet three-col-bullet">
        <i class="fa fa-users"></i>
        <div class="bullet-content">
          <h2>Seamless collaboration</h2>
          <p>Track your progress, split tasks, share screenshots and evidence.</p>
          </div>
      </li>
      <li class="bullet three-col-bullet">
        <i class="fa fa-cogs"></i>
        <div class="bullet-content">
          <h2>Extensible</h2>
          <p>We already connect with 15+ different tools including Burp, Nessus, Nmap, Qualys, etc.</p>
          <p>And if we don't have a connector for tool X, it's easy to create one!</p>
        </div>
      </li>
      <li class="bullet three-col-bullet">
        <i class="fa fa-desktop"></i>
        <div class="bullet-content">
          <h2>Platform independent</h2>
          <p>Dradis is a web application, you only need your browser to use it.</p>
        </div>
      </li>
    </ul>
  </section>
</div>